src/main/resources/wsdl/integracaoExames.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="https://www.integracaoexames.com.br/xml/exame"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="https://www.integracaoexames.com.br/xml/exame" targetNamespace="https://www.integracaoexames.com.br/xml/exame">
	<wsdl:types>
		<xs:schema
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://www.integracaoexames.com.br/xml/exame">
			<xs:element name="BuscaExameRequisicao">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" nillable="true" type="xs:long"/>
						<xs:element name="codigo" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExameResposta">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Exame" type="tns:Exame"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Exame">
				<xs:sequence>
					<xs:element name="id" type="xs:long"/>
					<xs:element name="codigo" type="xs:string"/>
					<xs:element name="nome" type="xs:string"/>
					<xs:element name="descricao" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:portType name="IntegracaoExamesPort"></wsdl:portType>
	<wsdl:binding name="IntegracaoExamesPortSoap11" type="tns:IntegracaoExamesPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	</wsdl:binding>
	<wsdl:service name="IntegracaoExamesPortService">
		<wsdl:port binding="tns:IntegracaoExamesPortSoap11" name="IntegracaoExamesPortSoap11">
			<soap:address location="http://localhost:8080/service/integracao-exames"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>